<template>
  <v-app>
    <v-app-bar app flat>
      <div>
        <v-list dense nav color="transparent">
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title>{{ user.userName }}</v-list-item-title>
              <v-list-item-subtitle>{{ user.type }}</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </div>

      <v-spacer></v-spacer>
      <div class="d-flex align-center">
        <v-img
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          src="@/assets/Logo-SmartQuick-Negro.png"
          width="150"
        />
      </div>
      <v-btn class="ml-2" min-width="0" text @click="logout()">
        <v-icon>mdi-logout</v-icon>
      </v-btn>
    </v-app-bar>

    <v-main>
      <v-container>
        <v-layout align-center justify-center v-if="user.type == 'Coordinador'">
          <v-flex xs12 sm8 md8>
            <v-alert border="right" colored-border type="error" elevation="2">
              Esta pagina se encuentra en mantenimineto en el momento. Por favor intente
              mas tarde
            </v-alert>
            <v-img
              src="@/assets/3675500.jpg"
              contain
              transition="scale-transition"
            ></v-img>
          </v-flex>
        </v-layout>
        <v-row v-else>
          <v-col>
            <v-tabs fixed-tabs background-color="indigo" dark v-model="tab">
              <v-tab> Atletas </v-tab>
              <v-tab> Categorias </v-tab>
            </v-tabs>
            <v-tabs-items v-model="tab">
              <v-tab-item>
                <v-card>
                  <v-card-text>
                    <v-data-table
                      :headers="headers"
                      :items="atletas"
                      class="elevation-1"
                    ></v-data-table>
                  </v-card-text>
                </v-card>
              </v-tab-item>
              <v-tab-item>
                <v-card>
                  <v-card-text>
                    <v-simple-table class="elevation-1">
                      <template v-slot:default>
                        <thead>
                          <tr>
                            <th class="text-left"></th>
                            <th class="text-left">Categoria</th>
                            <th class="text-left">Total</th>
                            <th class="text-left">Detalles</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              <v-avatar>
                                <img src="@/assets/gold-medal.svg" alt="John" />
                              </v-avatar>
                            </td>
                            <td>Oro</td>
                            <td>{{ gold }}</td>
                            <td>
                              <v-btn text @click="viewCategory(1)">
                                <v-icon> mdi-eye </v-icon>
                              </v-btn>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <v-avatar>
                                <img src="@/assets/silver-medal.svg" alt="John" />
                              </v-avatar>
                            </td>
                            <td>Plata</td>
                            <td>{{ silver }}</td>
                            <td>
                              <v-btn text @click="viewCategory(2)">
                                <v-icon> mdi-eye </v-icon>
                              </v-btn>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <v-avatar>
                                <img src="@/assets/bronze-medal.svg" alt="John" />
                              </v-avatar>
                            </td>
                            <td>Bronce</td>
                            <td>{{ bronze }}</td>
                            <td>
                              <v-btn text @click="viewCategory(3)">
                                <v-icon> mdi-eye </v-icon>
                              </v-btn>
                            </td>
                          </tr>
                        </tbody>
                      </template>
                    </v-simple-table>
                  </v-card-text>
                </v-card>
              </v-tab-item>
            </v-tabs-items>
          </v-col>
        </v-row>
      </v-container>
      <v-dialog v-model="dialog" width="500">
        <v-card>
          <v-card-title class="text-h5 grey lighten-2">
            {{ title }}
          </v-card-title>

          <v-card-text>
            {{ text }}
          </v-card-text>

          <v-divider></v-divider>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" text @click="dialog = false"> I accept </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: "Home",

  data: () => ({
    dialog: false,
    tab: null,
    headers: [
      {
        text: "Atleta",
        align: "start",
        sortable: false,
        value: "athlete",
      },
      { text: "Edad", value: "age" },
      { text: "Pais", value: "country" },
      { text: "Año", value: "year" },
      { text: "Fecha", value: "date" },
      { text: "Deporte", value: "sport" },
      { text: "Oro", value: "gold" },
      { text: "Plata", value: "silver" },
      { text: "Bronce", value: "bronze" },
      { text: "Total", value: "total" },
    ],
    title: "",
    text:
      "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.",
    gold: 0,
    silver: 0,
    bronze: 0,
    atletas: [],
    user: {
      userName: "",
      type: "",
    },
  }),
  created() {
    this.user = JSON.parse(localStorage.getItem("InfoUser"));
    this.getOlympicWinners();
  },
  methods: {
    getOlympicWinners() {
      fetch(
        "https://raw.githubusercontent.com/ag-grid/ag-grid/master/grid-packages/ag-grid-docs/src/olympicWinners.json"
      )
        .then((response) => response.json())
        .then((data) => {
          this.atletas = data;
          this.atletas.forEach((element) => {
            this.gold = this.gold + element.gold;
            this.silver = this.silver + element.silver;
            this.bronze = this.bronze + element.bronze;
          });
        });
    },
    viewCategory(category) {
      switch (category) {
        case 1:
          this.title = "ORO";
          break;
        case 2:
          this.title = "PLATA";
          break;
        case 3:
          this.title = "BRONCE";
          break;
      }
      this.dialog = true;
    },
    logout(){
        localStorage.clear();
        this.$router.push({ path: "/" });
    }
  },
};
</script>
