<template>
    <v-app>
        <v-main>
<FormLogin/>
        </v-main>
    </v-app>
</template>
<script>
import FormLogin from '@/components/FormLogin';
export default {
    name: 'Login',
    components:{
        FormLogin
    }
}
</script>