<template>
  <v-app id="inspire">
    <v-content>
      <v-container fluid fill-height>
              <v-overlay :value="overlay">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <v-card class="elevation-12">
              <!--<v-toolbar dark color="primary" flat>
                <v-toolbar-title>Login form</v-toolbar-title>
                <v-spacer></v-spacer>
               
               
              </v-toolbar>-->
              <v-img
                src="@/assets/Logo-SmartQuick-Negro.png"
                height="100"
                contain
              ></v-img>
              <v-card-text>
                <p>Ingreso</p>
                <small class="text-caption">
                  Bienvenido, por favor ingresa tu cuenta de SmartControl
                </small>

                <!--<v-form>-->
                <v-text-field
                  outlined
                  prepend-inner-icon="mdi-account"
                  name="login"
                  label="User"
                  type="text"
                  v-model="model.userName"
                  clearable
                ></v-text-field>
                <v-text-field
                  outlined
                  id="password"
                  prepend-inner-icon="mdi-lock"
                  name="password"
                  label="Password"
                  type="password"
                  v-model="model.password"
                  clearable
                ></v-text-field>
                <!--</v-form>-->
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="yellow accent-4" depressed @click="Login()">Login</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
      <v-snackbar v-model="snackbar" :color="color" absolute top left timeout="2000">{{
        text
      }}</v-snackbar>
    </v-content>
  </v-app>
</template>
<script>
export default {
  data: () => ({
      overlay: false,
    color: "",
    text: "",
    snackbar: "",
    model: {
      userName: "",
      password: "",
    },
    users: [],
  }),
  props: {
    source: String,
  },
  methods: {
    Login() {
     this.overlay= true;
      this.users = [
        { userName: "Pedro", password: "password", type: "Administrador" },
        { userName: "John", password: "password", type: "Coordinador" },
      ];

      if (this.model.userName  && this.model.password ) {
        for (var key = 0; key < this.users.length; key++) {
          var value = this.users[key];

          console.log(value.userName); // This is the value;

          if (value.userName == this.model.userName.trim()) {
            if (this.model.password == value.password) {
              this.color = "success";
              this.text = "Bienvenido, " + value.userName;
              this.snackbar = true;
              this.overlay=false;
               localStorage.setItem("InfoUser", JSON.stringify(value));
               setTimeout(() => {
                this.$router.push({ path: "/home" });
              }, 1000);
              break;
               
            }
          } else {
            this.color = "error";
            this.text = "Usuario incorrrecto";
            this.snackbar = true;
            this.overlay=false;
          }
        }
      
      } else {
          this.color = "error";
          this.text="Please enter your userName and password"
        this.snackbar = true
        this.overlay=false;
      }
    },
  },
};
</script>
